2nd_semester/antikimenostrefis_programmatismos/exams_exercise
2nd_semester/basis_apothikes_dedomenon(postgreSQL-SQL)/exams_exercise
2nd_semester/taxia_anaptiksi_efarmogon/exams_exercise
2nd_semester/technologies_diadiktyou/exams_exercise
2nd_semester/texnith_nohmosynh_empeira_systhmata/exams_exercise
2nd_semester/allilepidrash_anthrwpou_ypologisth/exams_exercise
2nd_semester/theoria_kai_efarmoges_grafhmatwn/exams_exercise