<!DOCTYPE html>
<html lang="el" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="'EduVerse | Προβολή Μαθήματος'"></title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
</head>
<body>
    <nav th:replace="~{fragment/nav :: nav}"></nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div th:if="${param.success_create_chapter}">
                    <div class="alert alert-success" th:text="'Δημιούργησες με επιτυχία ένα νέο κεφάλαιο!'"></div>
                </div>
                <div th:if="${param.success_delete_chapter}">
                    <div class="alert alert-success" th:text="'Διέγραψες με επιτυχία το κεφάλαιο!'"></div>
                </div>
                <div th:if="${param.success_edit_chapter}">
                    <div class="alert alert-success" th:text="'Επεξεργάστηκες με επιτυχία το κεφάλαιο!'"></div>
                </div>
                <div th:if="${param.success_create_question}">
                    <div class="alert alert-success" th:text="'Δημιούργησες με επιτυχία μία νέα ερώτηση!'"></div>
                </div>
                <div class="card_wrapper">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center" th:text="'Προβολή Μαθήματος'"></h2>
                            <h4 class="text-center" th:text="${'Μάθημα: ' + course.title}"></h4>
                        </div>
                        <div class="card-body">
                            <p class="text-justify">
                                <span class="fw-bold text-decoration-underline" th:text="'Περιγραφή Μαθήματος:'"></span>
                                <span th:text="${course.description}"></span>
                            </p>
                            <table class="table table-bordered" th:if="${!chapters.isEmpty()}">
                                <thead>
                                    <tr>
                                        <th scope="col" th:text="'#'"></th>
                                        <th scope="col" th:text="'Τίτλος Κεφαλαίου'"></th>
                                        <th scope="col" th:text="'Ενέργεια'"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="chapter, loopStat : ${chapters}">
                                        <th th:text="${loopStat.index + 1}"></th>
                                        <td th:text="${chapter.title}"></td>
                                        <td sec:authorize="hasRole('ROLE_STUDENT')">
                                            <a th:href="@{'/chapter/view/{chapterId}/{userId}' (chapterId=${chapter.id}, userId=${userId})}" th:text="'Προβολή'"></a>
                                            <span th:text="' | '"></span>
                                            <a th:href="@{'/quiz/{chapterId}/{userId}' (chapterId=${chapter.id}, userId=${userId})}" th:text="'Ερωτηματολόγιο'"></a>
                                        </td>
                                        <td sec:authorize="hasRole('ROLE_PROFESSOR')">
                                            <a th:href="@{'/chapter/view/{chapterId}/{userId}' (chapterId=${chapter.id}, userId=${userId})}" th:text="'Προβολή'"></a>
                                            <span th:text="' | '"></span>
                                            <a th:href="@{'/chapter/edit/{chapterId}/{userId}' (chapterId=${chapter.id}, userId=${userId})}" th:text="'Επεξεργασία'"></a>
                                            <span th:text="' | '"></span>
                                            <a th:href="@{'/chapter/delete/{chapterId}/{userId}' (chapterId=${chapter.id}, userId=${userId})}" th:text="'Διαγραφή'"></a>
                                            <span th:text="' | '"></span>
                                            <a th:href="@{'/question/view/{chapterId}/{userId}' (chapterId=${chapter.id}, userId=${userId})}" th:text="'Ερωτήσεις'"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="text-center" th:text="'Δεν υπάρχουν ακόμα κεφάλαια...'" th:if="${chapters.isEmpty()}"></p>
                            <button class="btn btn-primary" type="button" sec:authorize="hasRole('ROLE_PROFESSOR')">
                                <a class="a_button" th:href="@{'/chapter/new/{courseId}/{userId}' (courseId=${courseId}, userId=${userId})}" th:text="'Δημιουργία Νέου Κεφαλαίου'"></a>
                            </button>
                        </div>
                    </div>
                    <img class="m-3" th:src="@{/images/img14.png}" th:alt="'course view image'"/>
                </div>
            </div>
        </div>
    </div>

    <nav th:replace="~{fragment/footer :: footer}"></nav>
</body>
</html>