<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <title th:text="'EduVerse | Επεξεργασία Ερώτησης'"></title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
</head>
<body>
    <nav th:replace="~{fragment/nav :: nav}"></nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-10">
                <div class="card_wrapper">
                    <img th:src="@{/images/img25.png}" th:alt="'question edit image'"/>
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center" th:text="'Επεξεργασία Ερώτησης'"></h2>
                        </div>
                        <div class="card-body">
                            <form action="#" th:action="@{'/question/edit/{questionId}/{userId}' (questionId=${questionId}, userId=${userId})}" th:object="${question}" method="post" >
                                <input type="hidden" th:field="*{choice}"/>
                                <input type="hidden" th:field="*{chapter}"/>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="title" th:text="'Ερώτηση'"></label>
                                    <textarea class="form-control"
                                              id="title"
                                              name="title"
                                              rows="2"
                                              cols="70"
                                              th:field="*{title}">
                                    </textarea>
                                    <p class="text-danger"
                                       th:errors="*{title}"
                                       th:if="${#fields.hasErrors('title')}">
                                    </p>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="option_a" th:text="'Επιλογή Α'"></label>
                                    <input class="form-control"
                                           id="option_a"
                                           name="option_a"
                                           type="text"
                                           th:field="*{option_a}"/>
                                    <p class="text-danger"
                                       th:errors="*{option_a}"
                                       th:if="${#fields.hasErrors('option_a')}">
                                    </p>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="option_b" th:text="'Επιλογή B'"></label>
                                    <input class="form-control"
                                           id="option_b"
                                           name="option_b"
                                           type="text"
                                           th:field="*{option_b}"/>
                                    <p class="text-danger"
                                       th:errors="*{option_b}"
                                       th:if="${#fields.hasErrors('option_b')}">
                                    </p>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="option_c" th:text="'Επιλογή Γ'"></label>
                                    <input class="form-control"
                                           id="option_c"
                                           name="option_c"
                                           type="text"
                                           th:field="*{option_c}"/>
                                    <p class="text-danger"
                                       th:errors="*{option_c}"
                                       th:if="${#fields.hasErrors('option_c')}">
                                    </p>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="answer" th:text="'Όρισε Σωστή Απάντηση'"></label>
                                    <select class="form-select" id="answer" name="answer" th:field="*{answer}">
                                        <option th:value="1" th:text="'Επιλογή Α'"></option>
                                        <option th:value="2" th:text="'Επιλογή Β'"></option>
                                        <option th:value="3" th:text="'Επιλογή Γ'"></option>
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <button class="btn btn-primary" type="submit" th:text="'Αποθήκευση'"></button>
                                </div>
                                <div class="form-group mb-3">
                                    <button class="btn btn-danger" type="button">
                                        <a class="a_button" th:href="@{'/question/view/{chapterId}/{userId}' (chapterId=${question.getChapter().getId()}, userId=${userId})}" th:text="'Ακύρωση'"></a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav th:replace="~{fragment/footer :: footer}"></nav>
</body>
</html>