.container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.btn-danger a,
.btn-danger a:hover {
    color: #fff;
    text-decoration: none;
}
.nav-item button {
    background-color: #212529;
    border: 0;
    color: #fff;
    padding: 0;
    margin: 0;
}
.a_button,
.a_button:hover {
    color: #fff;
    text-decoration: none;
}
.custom_img_card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.custom_img_card img {
    width: 20rem;
}
button {
    width: 100%;
}