<!DOCTYPE html>
<html lang="el" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="'Κεφάλαιο 3'"></title>
    <link rel="stylesheet"
          th:href="@{/css/main.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" th:text="'Geographer |'"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/chapter/one}" th:text="'Κεφάλαιο 1'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/chapter/two}" th:text="'Κεφάλαιο 2'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/three}" th:text="'Κεφάλαιο 3'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/chapter/four}" th:text="'Κεφάλαιο 4'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/chapter/five}" th:text="'Κεφάλαιο 5'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/chapter/quizzes}" th:text="'Quizzes'"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div class="custom_img_card">
                    <div class="card">
                        <div class="card-header">
                            <h3 th:text="'Κεφάλαιο 3. Οι θάλασσες της Ελλάδας'"></h3>
                        </div>
                        <div class="card-body">
                            <p>
                                Η χώρα μας, όπως είδαμε και στα προηγούμενα μαθήματα, είναι μια χερσόνησος, που βρέχεται
                                από το Αιγαίο, το Ιόνιο και το Λιβυκό πέλαγος, τα οποία είναι τμήματα της Μεσογείου θάλασσας.
                            </p>
                            <p>
                                Το Αιγαίο είναι μια κλειστή θάλασσα, που βρίσκεται ανάμεσα στην Ελλάδα και στην Τουρκία,
                                είναι αρκετά ρηχή, ενώ το Ιόνιο πέλαγος είναι ανοικτό προς τα νότια και δυτικά. Στα νότια
                                του Ιονίου πελάγους και δυτικά από το ακρωτήριο Ταίναρο βρίσκεται το σημείο, όπου έχει
                                εντοπιστεί το μεγαλύτερο βάθος της Μεσογείου (Φρέαρ των Οινουσσών, 5.090 μ.). Το Λιβυκό
                                πέλαγος απλώνεται ανάμεσα στην Κρήτη και στην Αφρική.
                            </p>
                            <p>
                                Οι κάτοικοι της νησιωτικής Ελλάδας έδωσαν διαφορετικά ονόματα σε τμήματα του Αιγαίου θέλοντας
                                ίσως να μιλήσουν για τη δική τους θάλασσα, τη θάλασσα που έβρεχε τα νησιά τους. Έτσι έχουμε
                                το Κρητικό, το Καρπάθιο, το Ικάριο, το Μυρτώο και το Θρακικό πέλαγος.
                            </p>
                            <p>
                                Οι Έλληνες είμαστε άρρηκτα δεμένοι με τις θάλασσές μας. Η καθημερινή μας ζωή είναι γεμάτη
                                από χαρές και λύπες που μας δίνουν τα ελληνικά πελάγη. Η μούσα τα τραγούδησε, οι Έλληνες
                                ποιητές, από τον Όμηρο μέχρι τον σημερινό Θεοδόση Πιερίδη, τα ύμνησαν. Όλος ο λαός μας μιλά
                                για τα καταγάλανα νερά που καθόρισαν την πορεία της φυλής μας.
                            </p>
                            <p>
                                Μελετήστε προσεκτικά την παρακάτω εικόνα:
                            </p>
                            <div class="card-body-img">
                                <img class="big_img" th:src="@{/images/img12.png}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>