<!DOCTYPE html>
<html lang="el" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="'Κεφάλαιο 1'"></title>
    <link rel="stylesheet"
          th:href="@{/css/main.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" th:text="'Geographer |'"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/chapter/one}" th:text="'Κεφάλαιο 1'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/chapter/two}" th:text="'Κεφάλαιο 2'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/chapter/three}" th:text="'Κεφάλαιο 3'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/chapter/four}" th:text="'Κεφάλαιο 4'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/chapter/five}" th:text="'Κεφάλαιο 5'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/chapter/quizzes}" th:text="'Quizzes'"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div class="custom_img_card">
                    <div class="card">
                        <div class="card-header">
                            <h3 th:text="'Κεφάλαιο 1. Τα γεωγραφικά διαμερίσματα και οι περιφέρειες της Ελλάδας'"></h3>
                        </div>
                        <div class="card-body">
                            <p>
                                Στη χώρα μας υπάρχουν μεγάλες περιοχές, οι οποίες έχουν ορισμένα ιδιαίτερα γεωγραφικά και
                                ιστορικά στοιχεία. Η Πελοπόννησος ή Μοριάς, όπως είναι γνωστή από την ιστορία, είναι η
                                περιοχή της πατρίδας μας που συνδέεται με την υπόλοιπη Ελλάδα με τον Ισθμό της Κορίνθου.
                                Η Μακεδονία είναι η περιοχή, όπου έζησε ο Μέγας Αλέξανδρος. Τις περιοχές αυτές τις
                                ονομάζουμε γεωγραφικά διαμερίσματα.
                            </p>
                            <p>
                                Για την καλύτερη οργάνωση της ζωής των Ελλήνων, το κράτος διαίρεσε τη χώρα μας σε
                                περιφέρειες. H διαίρεση αυτή έxει γίvει μεßάση α) τα κοινά γεωμορφολογικά, κλιματικά και
                                άλλα στοιχεία που επικρατούν σε συγκεκριμένες περιοχές και β) τις οικονομικές
                                ιδιαιτερότητες κάθε περιοχής. Ανάλογα με τις ιδιαιτερότητες των περιοχών πραγματοποιούνται
                                διάφορα έργα. Κάθε περιφέρεια έχει τη δική της διοίκηση με επικεφαλής τον περιφερειάρχη,
                                ο οποίος είναι εκπρόσωπος της κυβέρνησης και σε συνεργασία με αυτήν συντονίζει τα μεγάλα
                                έργα που γίνονται στην περιφέρειά του.
                            </p>
                            <p>
                                H Αττική αποτελεί από μόνη της μία από τις 13 περιφέρειες της χώρας μας.
                            </p>
                            <p>
                                Μελετήστε προσεκτικά την παρακάτω εικόνα:
                            </p>
                            <div class="card-body-img">
                                <img class="big_img" th:src="@{/images/img11.png}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>