<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <title th:text="'EduVerse | Σύνδεση'"></title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="text-start">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand" th:href="@{'/'}">
                            <img th:src="@{/images/favicon.png}" th:alt="'logo image'"/>
                            <span th:text="'EduVerse'"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-8">
                <div th:if="${param.error}">
                    <div class="alert alert-danger" th:text="'Μη έγκυρο email ή/και κωδικός.'"></div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-success" th:text="'Έχεις αποσυνδεθεί.'"></div>
                </div>
                <div th:if="${param.success_register}">
                    <div class="alert alert-success" th:text="'Έχεις εγγραφεί επιτυχώς στο EduVerse! Συνδέσου για να εξερευνήσεις την εφαρμογή!'"></div>
                </div>
                <div class="card_wrapper">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center" th:text="'Φόρμα Σύνδεσης'"></h2>
                        </div>
                        <div class="card-body">
                            <form action="#" th:action="@{/login}" method="post">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="username" th:text="'Email'"></label>
                                    <input class="form-control"
                                           id="username"
                                           name="username"
                                           type="text"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="password" th:text="'Κωδικός'"></label>
                                    <input class="form-control"
                                           id="password"
                                           name="password"
                                           type="password"/>
                                </div>
                                <div class="form-group mb-3">
                                    <button class="btn btn-primary" type="submit"  th:text="'Σύνδεση'"></button>
                                </div>
                                <div class="form-group mb-3">
                                    <p th:text="'Δεν έχεις λογαριασμό;'"></p>
                                    <a th:href="@{/register/professor}" th:text="'Εγγραφή ως Καθηγητής'"></a>
                                    <span th:text="' | '"></span>
                                    <a th:href="@{/register/student}" th:text="'Εγγραφή ως Φοιτητής'"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <img th:src="@{/images/img5.png}" th:alt="'login image'"/>
                </div>
            </div>
        </div>
    </div>

    <nav th:replace="~{fragment/footer :: footer}"></nav>
</body>
</html>