<!DOCTYPE html>
<html lang="el" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="'EduVerse | 404 Page Not Found'"></title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="text-start">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand" th:href="@{'/'}">
                            <img th:src="@{/images/favicon.png}" th:alt="'logo image'"/>
                            <span th:text="'EduVerse'"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-end">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="navbar-brand" th:href="@{'/logout'}">
                            <span th:text="'Αποσύνδεση'"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div class="card_wrapper_col">
                    <img th:src="@{/images/img13.png}" th:alt="'error 404 page image'"/>
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center" th:text="'404 Page Not Found'"></h2>
                        </div>
                        <div class="card-body">
                            <p class="text-center" th:text="'Λυπούμαστε, η σελίδα δεν βρέθηκε...'"></p>
                            <button class="btn btn-dark" type="button">
                                <a class="a_button" th:href="@{/}" th:text="'Επιστροφή στην αρχική!'"></a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav th:replace="~{fragment/footer :: footer}"></nav>
</body>
</html>